<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Employees</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
<form class="col-1 ml-auto my-2" th:action="@{/logout}" method="post">
    <input type="submit" value="Sign Out"/>
</form>
<div th:switch="${employee}">
    <div th:case="*">
        <h2>Employees</h2>
        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Department Id</th>
                <th scope="col">Job Title</th>
                <th scope="col">Gender</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee : ${employee}" th:object="${employee}">
                <td th:text="*{id}"></td>
                <td th:text="*{firstName}"></td>
                <td th:text="*{lastName}"></td>
                <td th:text="*{departmentId}"></td>
                <td th:text="*{jobTitle}"></td>
                <td th:text="*{gender.name}"></td>
                <td>
                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                        <a th:href="@{/edit-employee-page/{id}(id=*{id})}">Edit</a>
                    </div>
                </td>
                <td><a th:href="@{/delete/{id}(id=*{id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p class="text-center"><a class="btn btn-outline-dark" href="/add-employee-page">Add a new employee</a></p>
</div>
</body>
</html>
